header{
	padding: 20px;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -8px;
	height: 125px;
	background-color: #357882;
	color: white;
}

header h2{
	font-family: 'Anton', sans-serif;
	font-size: 90px;
	margin-left: -5px;
	margin-top: 20px;
	margin-bottom: 30px;
}
p{
	font-size: 20px;
	margin-left: 0px;
	margin-top: -60px;
	color: white;
}
.intro	{
	margin-top: 100px;
	margin-left: 35px;
}
.n1{
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	background-color: #EED971FF;
	width: 80%;
	color: black;
	font-family: 'Nunito Sans', sans-serif;
	border-radius: 8px;
}

.n2{
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 10px;
	background-color: #EED971FF;
	width: 80%;
	color: black;
	font-family: 'Nunito Sans', sans-serif;
	border-radius: 8px;
}

h2{
	margin-left: 75px;
	font-family: 'Bebas Neue', cursive;

}

.my_skills{
	margin-top: 20px;
	color: black;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	width: 200px;
	margin-left: 55px;
	margin-right: 65px;
	padding-left: 5px;
	padding-right: 5px;
	background-color:#c7c7a6 ;
}

.button1 {
	margin-left: 110px;
  background-color: #766E59;
  border: none;
  color: white;
  padding: 10px 20px;
    text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  cursor: pointer;
}


@media only screen and (min-width: 375px){
h2{
	margin-left: 95px;
	

}

.my_skills{
	
	margin-left: 75px;
	
}

.button1 {
	margin-left: 130px;
  
}

}

@media only screen and (min-width: 425px){
h2{
	margin-left: 105px;
	font-size: 30px;

}

.my_skills{
	
	margin-left: 65px;
	width: 250px;
	height: 110px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 22px;
	color: white;
}

.button1 {
	margin-left: 140px;
  background-color: #766E59;
  border: none;
  color: white;
  padding: 10px 20px;
    text-decoration: none;
  display: inline-block;
  font-size: 20px;
  
  cursor: pointer;
}
}

@media only screen and (min-width: 1024px){
	.n1{
		margin-top: 50px;
	padding-top: 25px;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-right: 10px;
	background-color: #c7c7a6;
	width: 50%;
	height: 150px;
	color: black;
	font-size: 26px;
	font-family: 'Nunito Sans', sans-serif;
	border-radius: 8px;
}

.n2{
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 50px;
	background-color: #c7c7a6;
	width: 50%;
	height: 150px;
	font-size: 26px;
	color: black;
	font-family: 'Nunito Sans', sans-serif;
	border-radius: 8px;
}	
h2{
	font-size: 40px;
	margin-left: 720px;
	margin-top: -400px;
}

.my_skills{
	margin-left: 700px;
	width: 280px;
	height: 150px;
	padding-top: 50px;
}

.button1{
	margin-left: 700px;
}

}


@media only screen and (min-width: 1440px){
	.n1{
		margin-top: 50px;
	padding-top: 25px;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-right: 10px;
	background-color: #E8FBFD;
	width: 50%;
	height: 150px;
	color: black;
	font-size: 26px;
	font-family: 'Nunito Sans', sans-serif;
	border-radius: 8px;
}

.n2{
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 50px;
	background-color: #E8FBFD;
	width: 50%;
	height: 150px;
	font-size: 26px;
	color: black;
	font-family: 'Nunito Sans', sans-serif;
	border-radius: 8px;
}	
h2{
	font-size: 50px;
	margin-left: 1020px;
	margin-top: -400px;
}

.my_skills{
	margin-left: 1040px;
	width: 280px;
	height: 150px;
	padding-top: 50px;
	background-color: #E8FBFD;
	color: black;
	border-radius: 10px;
}

.button1{
	margin-left: 1040px;
}

.logo{
	width: 10%;
	border-radius: 50%;
	margin-top: -200px;
	margin-left: 1200px;
}
#scroll{
	margin-top: 70px;
	margin-left: 500px;
	width: 400px;
	height: 50px;
	font-size: 30px;
	background-color:#99F1FF ;
	border: none;
	color: white;
text-decoration: none;
display: inline-block;
font-family: 'Anton', sans-serif;

}




#text1{
	margin-top: 150px;
	margin-left: 200px;
	color: black;
	
	width: 33.3%;
	font-size: 40px;
	border-radius: 10px;
	padding: 20px;
}

#text{
	margin-top: 100px;
	margin-left: 400px;
	padding-left: 150px;
	color: black;
	border-radius: 20px;
	width: 33.3%;
	font-family: 'Pacifico', cursive;
;
}
#text2{
	font-size: 40px;
	margin-top: -400px;
	margin-left: 800px;
	color: black;	
	width: 33.3%;
	border-radius: 10px;
	padding: 20px;
}

#text_last{
	color: black;
	margin-top: 100px;
	width: 50%;
}
#more{
	background-color: #6EB3BD;
	margin-left: -7px;
	margin-right: -7px;
}
.intro{
	background-color: #65A3AC;
	border-radius: 20px;
	padding: 10px;
	margin-top:38px;
	margin-left: 10px;
	margin-right: 10px;
}
}